@page "/editgame/{GameId}"

<h3>@CurrGame?.Name</h3>

<p>Players:</p>
@if (CurrGame != null)
{
    @if (CurrGame.PlayersList.Any() == false)
    {
        <p>There are currently no players in this game</p>
    }
    else
    {
        foreach (var player in CurrGame.PlayersList)
        {
            <dir>
                <button class="btn btn-primary" @onclick="(() => DecreasePlayersPoints(player,1))" >-</button>
                @player.Name
                <input type="number" @bind-value="player.Points"></input>
                <button class="btn btn-primary" @onclick="(() => IncreasePlayersPoints(player,1))" >+</button>
                <button @onclick="(() => DeletePlayer(player.Id))">Delete</button>
            </dir>
        }
    }
}

<dir>
<input placeholder="Player Name" @bind-value="Player.Name"></input>
<button class="btn btn-primary" @onclick="HandleAddPlayer">Add Player</button>
</dir>


<dir>
    <button @onclick="SaveGame">Save Game</button>
    <button class="btn btn-primary" @onclick="HandleDelete">Delete Game</button>
</dir>



