@page "/"

<PageTitle>Games</PageTitle>

<h3>All Games</h3>

<Button Color="Color.Primary" Clicked="@HandleAddGame">Add Game</Button>

<CounterApp.App.Components.Games.ListGames></CounterApp.App.Components.Games.ListGames>


